
.ipynb_checkpoints/Gym Testing-checkpoint.ipynb
.memory/saved_games
Seb Messing About.ipynb
.ipynb_checkpoints/Seb Messing About-checkpoint.ipynb
memory/__pycache__/memory.cpython-37.pyc
.memory/saved_games/
notebook.ipynb
display/__pycache__/draught_surf.cpython-37.pyc
__pycache__/human_vs_human.cpython-37.pyc
gym-draughts/gym_draughts/envs/__pycache__/draughts_env.cpython-37.pyc
memory/__pycache__/memory.cpython-37.pyc
*.pyc
*.pyc
gym-draughts/gym_draughts/envs/__pycache__/draughts_env.cpython-37.pyc
gym-draughts/gym_draughts/envs/__pycache__/__init__.cpython-37.pyc
gym-draughts/gym_draughts/__pycache__/__init__.cpython-37.pyc
